<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-  scale=1.0">
    <title>選擇複製內容 - CGCF</title>
    <link rel="stylesheet" href="/static/css/init.css">
</head>

<body>
    <div class="w-full max-w-[900px] mx-auto h-svh">
        <div class="shadow rounded-full py-2 px-4 my-5 border" id="show_id"></div>
        <div class="my-4 w-full">
            <div class="bg-gray-200 w-full flex rounded-full px-4 py-2">
                <div class="w-6"></div>
                <div class="w-10 text-center">Status</div>
                <div class="grow text-center">File</div>
                <div class="w-6"></div>
            </div>
        </div>
        <% for (let i=0; i < files.length; i++) { %>
            <label class="w-full flex cursor-pointer px-4">
                <div class="py-1 w-6 flex justify-center items-center">
                    <input type="checkbox" name="files" value="<%= files[i].file %>" <% if (!files[i].status.includes('D')) { %>checked<% } %>>
                </div>
                <div class="py-1 w-10 text-center flex justify-center items-center">
                    <%= files[i].status %>
                </div>
                <div class="py-1 mx-2 break-all">
                    <%= files[i].file %>
                </div>
                <div class="py-1 w-6 flex justify-center items-center ml-auto"></div>
            </label>
        <% } %>
        <button
            class="disabled:bg-gray-200 disabled:text-gray-400 bg-blue-600 hover:bg-blue-500 text-white rounded-full w-full h-10 mt-5"
            id="startCopy">
            複製
        </button>
        <div id="alert"></div>
    </div>
    <form action="/done" method="post">
        <input type="hidden" name="path" id="path" value="<%= path %>" required>
        <input type="hidden" name="id" id="id" required>
        <input type="hidden" name="bytes" id="bytes" required>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const path = "<%= path %>";
    </script>
    <script src="/static/js/copy.js"></script>
</body>

</html>